<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itemsa</title>
    <!-- Bootstrap core CSS -->
    <!-- <link rel="stylesheet" href="/static/bootstrap/fonts/icons.css"> -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <!-- Custom styles for this template -->
    <link rel="icon"  href="/static/bootstrap/img/icons/menu.ico"/>
    <link href="/static/bootstrap/css/sidebars.css" rel="stylesheet">
    <link href="/static/bootstrap/css/menu.css" rel="stylesheet">



</head>
<body>

    <div id="sidemenu" class="menu-expanded">
        <div id="header">
            <div id="title"><span>Menu</span></div>
            <div id="menu-btn">
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
            </div>
        </div>
        <div id="profile">
            <div id="photo"><img src="/static/bootstrap/img/user-circle.png" alt=""></div>
            <div id="name"><span> {% if request.user.is_authenticated %} {{request.user.first_name }}{% endif %}   </span></div>
        </div>

        <div id="menu-items">
            <div class="item">
                <a href="#">
                    <div class="icon"><img src="/static/bootstrap/img/logo.png" alt=""></div>
                    <div class="title"><span>Servicios</span></div>
                </a>
            </div>
            <div class="item separator"></div>
            <div class="item">
                <a href="/logout">
                    <div class="icon"><img src="/static/bootstrap/img/logout.png" alt=""></div>
                    <div class="title"><span>Salir</span></div>
                </a>
            </div>
        </div>
    </div>

    <script>
        const btn = document.querySelector('#menu-btn');
        const menu = document.querySelector('#sidemenu');
        btn.addEventListener('click', e =>{
            menu.classList.toggle("menu-expanded");
            menu.classList.toggle("menu-collapsed");
            document.querySelector('body').classList.toggle('body-expanded');
        });
    </script>

{% block section %}
{% endblock %}

    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/bootstrap/js/sidebars.js"></script>

    
</body>
</html>